* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #fff;
	font-family: "Inter", serif;
	/* background-color: #010103; */
	background-color: #191B34;
	padding-top: 134px;
}

a {
	color: #fff;
	text-decoration: none;
	display: inline-flex;
	transition: 0.3s;
}

ul {
	list-style: none;
}

svg {
	width: 1.6em;
	height: 1.6em;
	pointer-events: none;
}
