.header {
	padding: 44px 0px;
	position: relative;
	z-index: 2;
}
.header .container {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
.header .lang {
	margin-left: 82px;
}

.header .nav {
	margin-left: 54px;
}
.header .btn-discord {
	margin: 0 0 0 auto;
}
