.header {
	padding: 44px 0px;
	z-index: 99;
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	transition: .3s;
}
.header.scroll-down {
	padding: 18px 0px;
	background-color: #191B34;
	box-shadow: 0 0 20px 0 #02101d;
}
.header .container {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
.header .lang {
	margin-left: 82px;
}

.header .nav {
	margin-left: 54px;
}
.header .btn-discord {
	margin: 0 0 0 auto;
}
